<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
            <div *ngFor="let p of productos" class="col">
                <div class="card shadow-sm">
                    <!--*ngFor="let p of productos" NO FUNCIONA CON TODOS LOS PRODUCTOS SOLO CON EL PRIMERO-->
                    <img class="rounded"  alt="exodia" height="100%"><!--src="{{p.urlImagen}}"-->
                    <div class="card-body">
                        <!-- <p class="card-text"> {{p.nombre}} {{p.marca}} {{p.modelo}}</p>
                        <p class="card-text"> {{p.precio | currency }}</p>
                        <p class="card-text"> {{p.id}} {{p.subrubro.id}}</p> -->

                        <div class="text-end">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning disabled">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#descripcion">Descripción</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Contacto</button>
                            </div>
                        </div>
                        <!-- [attr.data-target]="'#editPatient-' + id" -->
                    </div>
                </div>
                <!-- <div class="modal fade" id="descripcion" tabindex="-1" aria-labelledby="descripcionLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="descripcion">{{p.nombre}} {{p.marca}} {{p.modelo}} </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="card-text"> {{p.descripcion}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div> 
            <!-- </div>
        </div>
    </div>
</div> -->